@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla';
}

h1{
    text-align: center;
}

/* Bloque principal con todo centrado */
.block{
    width: 100wh;
    height: 90vh;
    background: #C2DFEF;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* banner superior siempre presente */
.banner{
    background: #0B80C1;
    width: 100%;
    height: 10vh;
    /* position: fixed; */
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 2em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.99);

    display: flex;
align-items: center;
}

form{
    height: 90%;
}

/* Estilo de botones */
.button-standar{
    border: none;
    width: 100px;
    height: 40px;
    background: #0B80C1;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
    font-weight: bold;
}

.button-standar:hover{
    box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 6px;
}


/* BLOQUE PREGUNTA */

/* Limite tamaño cajas inicio y final - Limitaciones para el resposive */
.limit-width-white-block-star-end{
    max-width: 400px !important;
}

.limit-height-width-grapichs-block{
    max-height: 395px;
    max-width: 770px;
}

/* Bloque de preguntas y estilo predeterminado para el contenido */
.white-block{
    width: 85%;
    max-width: 768px;
    background: white;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.tittle-question{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.input-radio{
    display: none;
}

/* Estilos label preguntas */
.label-one{
    width: 100%;
    background: #EE5656;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 10px;
}

.label-two{
    width: 100%;
    background: #EEDF56;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 10px;
}

.label-three{
    width: 100%;
    background: #56EE9C;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 10px;
}

.label-four{
    width: 100%;
    background: #56D3EE;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 10px;
}

.label-one:hover, .label-two:hover, .label-three:hover, .label-four:hover{
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 10px;
}

/* Modificaciones para boton Siguiente en las preguntas */
.button-next{
    border: none;
    width: 95px;
    height: 40px;
    background: #0B80C1;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
    align-self: flex-end;
}

.button-next:hover{
    box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 6px;
}

/* Estilo respuesta seleccionada */
input[type="radio"]:checked + label {
	background-image: linear-gradient(310deg, #f8ab37, #6ab3e4);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px, rgba(0, 0, 0, 0.2) 0px 0px 4px inset;
    text-shadow: rgba(255, 255, 255, 0.45) 0px 0px 4px;    
}




/* Estilos FINAL */

.title-end{
    text-align: center;
    width: 100%;
    font-size: 2.4em;

}

.marker{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 3.5em;
    margin: 30px 0px;
}

.message-end{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
}